doctype html
html
  head
    title MyoTest
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/angular.min.js')

    script(src='/javascripts/zingchart.min.js')
  body(ng-app='myApp')

    block content